html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  bottom: 1rem;
  max-width: 50em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  margin-bottom: -1.5rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
}

.img-flex {
  display: block;
  width: 100%;
}

p {
  font-style: italic;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}
